<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comic Shop</title>
        <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
     <header>
      <nav>
         {{#if user}}{{else}}
        <a class="btn" href="/auth/login">Login</a>
        <a class="btn" href="/auth/register">Register</a>
      {{/if}}
       <a class="btn" href="/">Home</a>
      <a class="btn" href="/comics">Comics</a>
    </div>
      </nav>
    </header>
   <main>
     <h1>COMIC BOOK SHOP</h1>

   </main>
<footer>
       {{#if user}}
        <form action="/auth/logout" method="POST">
          <input type="submit" value="Logout" class="btn"/>
        </form>
    {{/if}}
</footer>

  </body>
</html>