<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comic Book Shop - Register</title>
        <link rel="stylesheet" href="/styles/register.css" />
        <link rel="shortcut icon" href="/uploads/comic_book.ico" />
</head>
<body>
   <header>
      <nav>
        {{#if user}}
          <a class="btn" href="/">Home</a>
          <a class="btn" href="/comics">Comics</a>
          <form action="/auth/logout" method="POST">
            <input type="submit" value="Logout" class="btn2" />
          </form>
        {{else}}
          <a class="btn" href="/auth/login">Login</a>
          <a class="btn" href="/auth/register">Register</a>
        {{/if}}

      </nav>
    </header>
          <h1>Register</h1>
      <div class="container">


    <form action="/auth/register" method="POST" class="form">
    <label>
            <p>Name and Adress</p>
            <input name="name" type="text" required placeholder="Full name">
        </label>

        <label>
            <p>Email</p>
            <input name="email" type="email" required placeholder="E-mail">
        </label>

        <label>
            <p>Password</p>
            <p>The password has to be 8 characters long, one uppercase letter and one lowercase letter</p>
            <input name="password" type="password" required placeholder="Password">
        </label>
        <br>
        <input type="submit" value="Register" class="btn2">




        {{#if error}}
            <div style="color: red">{{error}}</div>
        {{/if}}
    </form>
    </div>
<footer class="footer-distributed">

					<p class="footer-links">
					<a class="link-1" href="/">Home</a>

					<a href="https://github.com/lethamburn">GitHub</a>

					<a href="#">Twitter</a>

					<a href="#">Facebook</a>

					<a href="#">Instagram</a>

					<a href="#">Contact</a>
				</p>

				<p>Comic Book Shop - Antonio Rosales Martínez &copy; 2021</p>
			</div>

		</footer>
</body>
</html>