<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comic Book Shop - Login</title>
    <link rel="stylesheet" href="/styles/stats.css" />
    <link rel="shortcut icon" href="/uploads/comic_book.ico" />
  </head>
  <body>
   <header>
     <nav>
        {{#if user}}
         <a class="btn" href="/">Home</a>
          <a class="btn" href="/comics">Comics</a>
          <a class="btn" href="/manga">Manga</a>
          <a class="btn" href="/stats">Stats</a>
          <form action="/auth/logout" method="POST">
            <input type="submit" value="Logout" class="btn2" />
          </form>
        {{else}}
          <a class="btn" href="/auth/login">Login</a>
          <a class="btn" href="/auth/register">Register</a>
        {{/if}}

      </nav>
    </header>
    <h1>Comics</h1>
     <div class="wrapper">
        {{#each arrayComics}}
          <div class="card">
            <img src="{{image}}" alt="" width="200px" />
        
          </div>
        {{/each}}
    </div>
      {{#if error}}
    
        <div style="color: red">{{error}}</div>
      {{/if}}
    </div>
  <footer class="footer-distributed">

					<p class="footer-links">
					<a class="link-1" href="/">Home</a>

					<a href="https://github.com/lethamburn">GitHub</a>

					<a href="#">Twitter</a>

					<a href="#">Facebook</a>

					<a href="#">Instagram</a>

					<a href="#">Contact</a>
				</p>

				<p>Comic Book Shop - Antonio Rosales Martínez &copy; 2021</p>
			</div>

		</footer>
  </body>
</html>